## Mercedes-Benz Greener Manufacturing.

**Reduce the time a Mercedes-Benz spends on the test bench.**

**Problem Statement Scenario:**
Since the first automobile, the Benz Patent Motor Car in 1886, Mercedes-Benz has stood for important automotive innovations. These include the passenger safety cell with a crumple zone, the airbag, and intelligent assistance systems. Mercedes-Benz applies for nearly 2000 patents per year, making the brand the European leader among premium carmakers. Mercedes-Benz is the leader in the premium car industry. With a huge selection of features and options, customers can choose the customized Mercedes-Benz of their dreams.

To ensure the safety and reliability of every unique car configuration before they hit the road, the company’s engineers have developed a robust testing system. As one of the world’s biggest manufacturers of premium cars, safety and efficiency are paramount on Mercedes-Benz’s production lines. However, optimizing the speed of their testing system for many possible feature combinations is complex and time-consuming without a powerful algorithmic approach.

You are required to reduce the time that cars spend on the test bench. Others will work with a dataset representing different permutations of features in a Mercedes-Benz car to predict the time it takes to pass testing. Optimal algorithms will contribute to faster testing, resulting in lower carbon dioxide emissions without reducing Mercedes-Benz’s standards.

**Following actions should be performed:**

- If for any column(s), the variance is equal to zero, then you need to remove those variable(s).
- Check for null and unique values for test and train sets.
- Apply label encoder.
- Perform dimensionality reduction.
- Predict values using XGBoost.

In [40]:
#Importing libraries
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
import xgboost as xgb

In [41]:
#Variable assignments
train_df=pd.read_csv(r"train.csv")

In [42]:
train_df

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [43]:
print ("Training Data Shape is:",train_df.shape)

Training Data Shape is: (4209, 378)

In [46]:
#Checking for variance 0 // training data set
variance_0 = train_df.var()[train_df.var()==0].index.values
variance_0

array(['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290',
       'X293', 'X297', 'X330', 'X347'], dtype=object)

In [47]:
# Drop variables with a variance with 0´s
train_df = train_df.drop(variance_0, axis=1)

In [50]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 366 entries, ID to X385
dtypes: float64(1), int64(357), object(8)
memory usage: 11.8+ MB

In [51]:
#Checking if null values are present
train_df.isnull().sum()

ID      0
y       0
X0      0
X1      0
X2      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 366, dtype: int64

In [52]:
#Checking if null values are present - training data
null_values = train_df.isnull().sum()[train_df.isnull().sum()!=0]
null_values.size

0

In [55]:
#Checking unique values - train df
for x in train_df:
    print(x,": unique values:", train_df[x].unique())

ID : unique values: [   0    6    7 ... 8412 8415 8417]
y : unique values: [130.81  88.53  76.26 ...  85.71 108.77  87.48]
X0 : unique values: ['k' 'az' 't' 'al' 'o' 'w' 'j' 'h' 's' 'n' 'ay' 'f' 'x' 'y' 'aj' 'ak' 'am'
 'z' 'q' 'at' 'ap' 'v' 'af' 'a' 'e' 'ai' 'd' 'aq' 'c' 'aa' 'ba' 'as' 'i'
 'r' 'b' 'ax' 'bc' 'u' 'ad' 'au' 'm' 'l' 'aw' 'ao' 'ac' 'g' 'ab']
X1 : unique values: ['v' 't' 'w' 'b' 'r' 'l' 's' 'aa' 'c' 'a' 'e' 'h' 'z' 'j' 'o' 'u' 'p' 'n'
 'i' 'y' 'd' 'f' 'm' 'k' 'g' 'q' 'ab']
X2 : unique values: ['at' 'av' 'n' 'e' 'as' 'aq' 'r' 'ai' 'ak' 'm' 'a' 'k' 'ae' 's' 'f' 'd'
 'ag' 'ay' 'ac' 'ap' 'g' 'i' 'aw' 'y' 'b' 'ao' 'al' 'h' 'x' 'au' 't' 'an'
 'z' 'ah' 'p' 'am' 'j' 'q' 'af' 'l' 'aa' 'c' 'o' 'ar']
X3 : unique values: ['a' 'e' 'c' 'f' 'd' 'b' 'g']
X4 : unique values: ['d' 'b' 'c' 'a']
X5 : unique values: ['u' 'y' 'x' 'h' 'g' 'f' 'j' 'i' 'd' 'c' 'af' 'ag' 'ab' 'ac' 'ad' 'ae'
 'ah' 'l' 'k' 'n' 'm' 'p' 'q' 's' 'r' 'v' 'w' 'o' 'aa']
X6 : unique values: ['j' 'l' 'd' 'h' 'i' 'a' 'g' 'c' 'k' 'e' 'f' 'b']
X8 : unique values: ['o' 'x' 'e' 'n' 's' 'a' 'h' 'p' 'm' 'k' 'd' 'i' 'v' 'j' 'b' 'q' 'w' 'g'
 'y' 'l' 'f' 'u' 'r' 't' 'c']
X10 : unique values: [0 1]
X12 : unique values: [0 1]
X13 : unique values: [1 0]
X14 : unique values: [0 1]
X15 : unique values: [0 1]
X16 : unique values: [0 1]
X17 : unique values: [0 1]
X18 : unique values: [1 0]
X19 : unique values: [0 1]
X20 : unique values: [0 1]
X21 : unique values: [1 0]
X22 : unique values: [0 1]
X23 : unique values: [0 1]
X24 : unique values: [0 1]
X26 : unique values: [0 1]
X27 : unique values: [0 1]
X28 : unique values: [0 1]
X29 : unique values: [0 1]
X30 : unique values: [0 1]
X31 : unique values: [1 0]
X32 : unique values: [0 1]
X33 : unique values: [0 1]
X34 : unique values: [0 1]
X35 : unique values: [1 0]
X36 : unique values: [0 1]
X37 : unique values: [1 0]
X38 : unique values: [0 1]
X39 : unique values: [0 1]
X40 : unique values: [0 1]
X41 : unique values: [0 1]
X42 : unique values: [0 1]
X43 : unique values: [0 1]
X44 : unique values: [0 1]
X45 : unique values: [0 1]
X46 : unique values: [1 0]
X47 : unique values: [0 1]
X48 : unique values: [0 1]
X49 : unique values: [0 1]
X50 : unique values: [0 1]
X51 : unique values: [0 1]
X52 : unique values: [0 1]
X53 : unique values: [0 1]
X54 : unique values: [0 1]
X55 : unique values: [0 1]
X56 : unique values: [0 1]
X57 : unique values: [0 1]
X58 : unique values: [1 0]
X59 : unique values: [0 1]
X60 : unique values: [0 1]
X61 : unique values: [0 1]
X62 : unique values: [0 1]
X63 : unique values: [0 1]
X64 : unique values: [0 1]
X65 : unique values: [0 1]
X66 : unique values: [0 1]
X67 : unique values: [0 1]
X68 : unique values: [1 0]
X69 : unique values: [0 1]
X70 : unique values: [1 0]
X71 : unique values: [0 1]
X73 : unique values: [0 1]
X74 : unique values: [1 0]
X75 : unique values: [0 1]
X76 : unique values: [0 1]
X77 : unique values: [0 1]
X78 : unique values: [0 1]
X79 : unique values: [0 1]
X80 : unique values: [0 1]
X81 : unique values: [0 1]
X82 : unique values: [0 1]
X83 : unique values: [0 1]
X84 : unique values: [0 1]
X85 : unique values: [1 0]
X86 : unique values: [0 1]
X87 : unique values: [0 1]
X88 : unique values: [0 1]
X89 : unique values: [0 1]
X90 : unique values: [0 1]
X91 : unique values: [0 1]
X92 : unique values: [0 1]
X94 : unique values: [0 1]
X95 : unique values: [0 1]
X96 : unique values: [0 1]
X97 : unique values: [0 1]
X98 : unique values: [0 1]
X99 : unique values: [0 1]
X100 : unique values: [0 1]
X101 : unique values: [0 1]
X102 : unique values: [0 1]
X103 : unique values: [0 1]
X104 : unique values: [0 1]
X105 : unique values: [0 1]
X106 : unique values: [0 1]
X108 : unique values: [0 1]
X109 : unique values: [0 1]
X110 : unique values: [0 1]
X111 : unique values: [1 0]
X112 : unique values: [0 1]
X113 : unique values: [0 1]
X114 : unique values: [1 0]
X115 : unique values: [0 1]
X116 : unique values: [1 0]
X117 : unique values: [0 1]
X118 : unique values: [1 0]
X119 : unique values: [1 0]
X120 : unique values: [1 0]
X122 : unique values: [0 1]
X123 : unique values: [0 1]
X124 : unique values: [0 1]
X125 : unique values: [0 1]
X126 : unique values: [0 1]
X127 : unique values: [0 1]
X128 : unique values: [1 0]
X129 : unique values: [0 1]
X130 : unique values: [0 1]
X131 : unique values: [1 0]
X132 : unique values: [0 1]
X133 : unique values: [0 1]
X134 : unique values: [0 1]
X135 : unique values: [0 1]
X136 : unique values: [1 0]
X137 : unique values: [1 0]
X138 : unique values: [0 1]
X139 : unique values: [0 1]
X140 : unique values: [0 1]
X141 : unique values: [0 1]
X142 : unique values: [1 0]
X143 : unique values: [0 1]
X144 : unique values: [1 0]
X145 : unique values: [0 1]
X146 : unique values: [0 1]
X147 : unique values: [0 1]
X148 : unique values: [0 1]
X150 : unique values: [1 0]
X151 : unique values: [0 1]
X152 : unique values: [0 1]
X153 : unique values: [0 1]
X154 : unique values: [0 1]
X155 : unique values: [0 1]
X156 : unique values: [1 0]
X157 : unique values: [0 1]
X158 : unique values: [0 1]
X159 : unique values: [0 1]
X160 : unique values: [0 1]
X161 : unique values: [0 1]
X162 : unique values: [0 1]
X163 : unique values: [0 1]
X164 : unique values: [0 1]
X165 : unique values: [0 1]
X166 : unique values: [0 1]
X167 : unique values: [0 1]
X168 : unique values: [0 1]
X169 : unique values: [0 1]
X170 : unique values: [1 0]
X171 : unique values: [0 1]
X172 : unique values: [0 1]
X173 : unique values: [0 1]
X174 : unique values: [0 1]
X175 : unique values: [0 1]
X176 : unique values: [0 1]
X177 : unique values: [0 1]
X178 : unique values: [0 1]
X179 : unique values: [1 0]
X180 : unique values: [0 1]
X181 : unique values: [0 1]
X182 : unique values: [0 1]
X183 : unique values: [0 1]
X184 : unique values: [1 0]
X185 : unique values: [0 1]
X186 : unique values: [0 1]
X187 : unique values: [1 0]
X189 : unique values: [1 0]
X190 : unique values: [0 1]
X191 : unique values: [0 1]
X192 : unique values: [0 1]
X194 : unique values: [1 0]
X195 : unique values: [0 1]
X196 : unique values: [0 1]
X197 : unique values: [0 1]
X198 : unique values: [0 1]
X199 : unique values: [0 1]
X200 : unique values: [0 1]
X201 : unique values: [0 1]
X202 : unique values: [0 1]
X203 : unique values: [0 1]
X204 : unique values: [1 0]
X205 : unique values: [0 1]
X206 : unique values: [0 1]
X207 : unique values: [0 1]
X208 : unique values: [0 1]
X209 : unique values: [1 0]
X210 : unique values: [0 1]
X211 : unique values: [0 1]
X212 : unique values: [0 1]
X213 : unique values: [0 1]
X214 : unique values: [0 1]
X215 : unique values: [0 1]
X216 : unique values: [0 1]
X217 : unique values: [0 1]
X218 : unique values: [0 1]
X219 : unique values: [0 1]
X220 : unique values: [1 0]
X221 : unique values: [0 1]
X222 : unique values: [0 1]
X223 : unique values: [0 1]
X224 : unique values: [0 1]
X225 : unique values: [0 1]
X226 : unique values: [0 1]
X227 : unique values: [0 1]
X228 : unique values: [0 1]
X229 : unique values: [0 1]
X230 : unique values: [0 1]
X231 : unique values: [0 1]
X232 : unique values: [0 1]
X234 : unique values: [1 0]
X236 : unique values: [0 1]
X237 : unique values: [1 0]
X238 : unique values: [0 1]
X239 : unique values: [0 1]
X240 : unique values: [0 1]
X241 : unique values: [0 1]
X242 : unique values: [0 1]
X243 : unique values: [0 1]
X244 : unique values: [0 1]
X245 : unique values: [0 1]
X246 : unique values: [0 1]
X247 : unique values: [0 1]
X248 : unique values: [0 1]
X249 : unique values: [0 1]
X250 : unique values: [0 1]
X251 : unique values: [0 1]
X252 : unique values: [0 1]
X253 : unique values: [0 1]
X254 : unique values: [0 1]
X255 : unique values: [0 1]
X256 : unique values: [0 1]
X257 : unique values: [0 1]
X258 : unique values: [0 1]
X259 : unique values: [0 1]
X260 : unique values: [0 1]
X261 : unique values: [0 1]
X262 : unique values: [1 0]
X263 : unique values: [1 0]
X264 : unique values: [0 1]
X265 : unique values: [0 1]
X266 : unique values: [1 0]
X267 : unique values: [0 1]
X269 : unique values: [0 1]
X270 : unique values: [0 1]
X271 : unique values: [0 1]
X272 : unique values: [0 1]
X273 : unique values: [1 0]
X274 : unique values: [0 1]
X275 : unique values: [1 0]
X276 : unique values: [0 1]
X277 : unique values: [0 1]
X278 : unique values: [0 1]
X279 : unique values: [0 1]
X280 : unique values: [0 1]
X281 : unique values: [0 1]
X282 : unique values: [0 1]
X283 : unique values: [0 1]
X284 : unique values: [0 1]
X285 : unique values: [1 0]
X286 : unique values: [0 1]
X287 : unique values: [0 1]
X288 : unique values: [0 1]
X291 : unique values: [0 1]
X292 : unique values: [0 1]
X294 : unique values: [0 1]
X295 : unique values: [0 1]
X296 : unique values: [0 1]
X298 : unique values: [0 1]
X299 : unique values: [0 1]
X300 : unique values: [0 1]
X301 : unique values: [0 1]
X302 : unique values: [0 1]
X304 : unique values: [0 1]
X305 : unique values: [0 1]
X306 : unique values: [1 0]
X307 : unique values: [0 1]
X308 : unique values: [0 1]
X309 : unique values: [0 1]
X310 : unique values: [0 1]
X311 : unique values: [0 1]
X312 : unique values: [0 1]
X313 : unique values: [0 1]
X314 : unique values: [0 1]
X315 : unique values: [0 1]
X316 : unique values: [1 0]
X317 : unique values: [0 1]
X318 : unique values: [0 1]
X319 : unique values: [0 1]
X320 : unique values: [0 1]
X321 : unique values: [0 1]
X322 : unique values: [0 1]
X323 : unique values: [0 1]
X324 : unique values: [1 0]
X325 : unique values: [0 1]
X326 : unique values: [0 1]
X327 : unique values: [1 0]
X328 : unique values: [0 1]
X329 : unique values: [1 0]
X331 : unique values: [0 1]
X332 : unique values: [0 1]
X333 : unique values: [0 1]
X334 : unique values: [1 0]
X335 : unique values: [0 1]
X336 : unique values: [0 1]
X337 : unique values: [0 1]
X338 : unique values: [0 1]
X339 : unique values: [0 1]
X340 : unique values: [0 1]
X341 : unique values: [0 1]
X342 : unique values: [0 1]
X343 : unique values: [0 1]
X344 : unique values: [0 1]
X345 : unique values: [0 1]
X346 : unique values: [0 1]
X348 : unique values: [0 1]
X349 : unique values: [0 1]
X350 : unique values: [0 1]
X351 : unique values: [0 1]
X352 : unique values: [0 1]
X353 : unique values: [0 1]
X354 : unique values: [1 0]
X355 : unique values: [0 1]
X356 : unique values: [0 1]
X357 : unique values: [0 1]
X358 : unique values: [0 1]
X359 : unique values: [0 1]
X360 : unique values: [0 1]
X361 : unique values: [1 0]
X362 : unique values: [0 1]
X363 : unique values: [0 1]
X364 : unique values: [0 1]
X365 : unique values: [0 1]
X366 : unique values: [0 1]
X367 : unique values: [0 1]
X368 : unique values: [0 1]
X369 : unique values: [0 1]
X370 : unique values: [0 1]
X371 : unique values: [0 1]
X372 : unique values: [0 1]
X373 : unique values: [0 1]
X374 : unique values: [0 1]
X375 : unique values: [0 1]
X376 : unique values: [0 1]
X377 : unique values: [1 0]
X378 : unique values: [0 1]
X379 : unique values: [0 1]
X380 : unique values: [0 1]
X382 : unique values: [0 1]
X383 : unique values: [0 1]
X384 : unique values: [0 1]
X385 : unique values: [0 1]

In [56]:
#Preparing LE variable for using label encoder
LE = preprocessing.LabelEncoder()

In [57]:
type(train_df)

pandas.core.frame.DataFrame

In [58]:
#Inspecting unique data types in training data frame
train_df.dtypes.unique()

array([dtype('int64'), dtype('float64'), dtype('O')], dtype=object)

In [59]:
#getting conlumns with object data type
train_df.dtypes[train_df.dtypes=='O'].index.values

array(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8'], dtype=object)

In [60]:
#Applying label encoder for non numerical columns using label encoder´s fit transform funcion
train_df_objects=train_df[train_df.dtypes[train_df.dtypes=='O'].index.values]
for x in train_df_objects:
    train_df[x]=LE.fit_transform(train_df[x])

In [61]:
train_df

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,32,23,17,0,3,24,9,14,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,32,21,19,4,3,28,11,14,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,20,24,34,2,3,27,9,23,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,20,21,34,5,3,27,11,4,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,20,23,34,5,3,12,3,13,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,8,20,16,2,3,0,3,16,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,31,16,40,3,3,0,7,7,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,8,23,38,0,3,0,6,4,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,9,19,25,5,3,0,11,20,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,46,19,3,2,3,0,6,22,...,1,0,0,0,0,0,0,0,0,0

In [66]:
#Dropping ID values
train_df = train_df.drop(['ID'], axis=1)

In [67]:
#Separating target variable & Data
y_target_training= train_df["y"]
train_df2 = train_df.drop(["y"], axis=1)

In [68]:
#Splitting testing and training data
X_train, X_test, y_train, y_test = train_test_split(train_df2, y_target_training, test_size=0.3,random_state=1)

In [69]:
#dimensionality reduction - PCA Principal Component Analysis
from sklearn.decomposition import PCA 
sklearn_pca = PCA(n_components=0.95) 
sklearn_pca.fit(X_train)
X_train_transformed = sklearn_pca.transform(X_train) 
X_test_transformed =sklearn_pca.transform(X_test)

In [70]:
#Applying XGBoost, importing additional libraries
from sklearn import svm 
from xgboost import XGBClassifier

In [71]:
model= XGBClassifier()

In [72]:
model.fit(X_train_transformed, y_train)

XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints=None,
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method=None, validate_parameters=False, verbosity=None)

In [78]:
y_pred2 = model.predict(X_test_transformed)

In [86]:
pd.DataFrame(y_pred2).head

<bound method NDFrame.head of            0
0      87.68
1     121.84
2     107.48
3      99.03
4      75.79
...      ...
1258   98.64
1259   89.65
1260   90.46
1261   97.99
1262   90.44

[1263 rows x 1 columns]>